 <div style="padding-left:130px;padding-right:200px;">
  <h1>Add Field To Table</h1>
  <div>
      <form name="myForm" ng-controller="createFieldController" ng-submit="createField()" class="my-form">
        <label class="item item-input item-floating-label">
                <span class="input-label">Type</span>
                <select name="boat_type" id="type" ng-model="field.type" ng-options="fieldType.id as fieldType.title for fieldType in fieldTypes"></select>
        </label>
        <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input type="text" placeholder="title" id="title" ng-model="field.title">
        </label>
        <label class="item item-input item-floating-label">
                <span class="input-label">Default Value</span>
                <input type="text" id="default_value" ng-model="field.default_value">
        </label>
        <button type="submit" class="button button-full button-positive" value="Create Case">Create Case</button>
    </form>
  </div>
</div>
