 <div style="padding-left:130px;padding-right:200px;">
  <h1>{{title}}</h1>
<style>
  td span{
    min-width:1em;
    border:1px dotted #c9c9c9;
  }

  .dataTables_wrapper{
    max-width: 100%;
    clear: left;
    overflow: auto;
  }

  .dataTables_wrapper table{
    margin-top:50px;
  }

  .dataTables_length{
    position: absolute;
    left: 400px;
  }
  .dataTables_filter{
    position: absolute;
  }
</style>

    <!--forms pannel-->
    <div style="width:30%; float:left">
      <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                  </span>Forms</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#/tables/{{tableId}}/createForm">Create Form{{tableData.forms}}</a></li>

                <li class="list-group-item" ng-repeat="form in tableData.forms"><span class="glyphicon glyphicon-flash text-success"></span><a href="http://fb.com/moinakbarali">{{form}}</a></li>

              </ul>
            </div>
      </div>
    </div>

    <!--views pannel-->
    <div style="width:30%; float:left; margin-left:3%; clear:right;">
      <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"><span class="glyphicon glyphicon-folder-close">
                  </span>Views</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a></li>
              </ul>
            </div>
      </div>
    </div>

    <!--settings pannel-->
    <div style="width:30%; float:left; margin-left:3%; clear:right;">
      <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThre"><span class="glyphicon glyphicon-cog">
                  </span>Settings</a>
              </h4>
            </div>
            <div id="collapseThre" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item"><span class="fa fa-trash-o"></span><a href="#/tables/{{tableData.id}}/delete">Delete</a></li>
              </ul>
            </div>
      </div>
    </div>

  
      <form name="addRow" ng-submit="createRow()" class="my-form" ng-init="addRowFormOpen = true" ng-show="addRowFormOpen">
  <table class="table" ng-if="tableData.fields" datatable="ng" dt-options="dtOptions" class="row-border hover">
    <thead>
      <th ng-repeat="field in tableData.fields track by $index">
        {{field.title}}
      </th>
      <th>
        <a href="#/tables/{{tableId}}/createField/">Add Column</a>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="i in [numberOfRows(tableId)] | toRange" ng-if="rowExists(tableId, i+1)">
        <td ng-repeat="n in [numberOfFields(tableId)-1] | toRange" id="field_{{tableId}}_{{n+1}}_{{i+1}}" data-value="{{getFieldValue(tableId, n+1, i+1)}}">

        <span ng-click="loadInlineEditor(tableId, n+1, i+1)">{{getFieldValue(tableId, n+1, i+1, true)}}</span>
        <div ng-bind-html="renderHtml(generateHistoryButton(tableId, n+1, i+1))" compile-template></div>


        </td>
        <td>
                                        <button type="button" ng-click="removeRow(tableId, n+1, i+1)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
            <tr>
              <td ng-repeat="n in [numberOfFields(tableId)-1] | toRange"><span ng-bind-html="renderHtml(generateFieldInput(n+1, tableId))" compile-template></span></td>
              <td><button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button></td>
            </tr>
    </tfoot>
  </table>
      </form>
</div>
